<div class="container">
  <div class="card">
    <div class="card-body player">
      <div class="article">
        <h3 style="color: #fff">Search Books</h3>
      <br/>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Book name" #search id="search"   style="color: #fff" (keyup.enter)="OnSearch(search.value)">
        </mat-form-field>
        <br/>
        <button mat-raised-button color="accent" (click)="OnSearch(search.value)">Search</button>
      </div>
    </div>
  </div>
</div>
