<mat-toolbar color="warn">
  <span class="remaining-space">Google Book Search</span>
</mat-toolbar>
<div class="container-fluid">
  <div class="pic">
    <div class="container text-center"><h1 class="text-white">Find Your Favorite Books </h1></div>
  </div>
</div>
<br/><br/>
<div class="container">
  <div class="card">
    <div class="card-body player">
      <div class="article">
        <h3>Search Books</h3>
      <br/>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Book name" #search id="search">
        </mat-form-field>
        <br/>
        <button mat-raised-button color="accent" (click)="OnSearch(search.value)">Search</button>
      </div>
    </div>
  </div>
</div>
